<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <img class="LogoImage" src="../../assets/Burgers Logo white.png" alt="">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="HeaderText">
                <p>INFO</p>
            </div>
            <div class="FooterText">
                <p routerLink="/about">About</p>
                <p>Fresh Test</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="HeaderText">
                <p>CONTACT</p>
            </div>
            <div class="FooterText"> 
                <p routerLink="/faq">FAQ’s</p>
                <p>Support</p>
                <p>Contact Us :-</p>
                <p>Customer Care</p>
                <p>Careers</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="HeaderText">
                <p>LEGAL</p>
            </div>
            <div class="FooterText">
                <p routerLink="/T&C">Terms & Conditions</p>
                <p routerLink="/PrivacyPolicy">Privacy Policy</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <div class="HeaderText">
                <p>FOLLOW</p>
            </div>
            <div class="FooterImage">
                <img src="../../assets/facebook icon.png" alt="">
                <img src="../../assets/twitter icon.png" alt="">
                <img src="../../assets/instgram icon.png" alt="">
                <img src="../../assets/youtube icon.png" alt="">
            </div>
        </div>
    </div>
    <hr class="Line">
    <div class="copyright">
        @Copyright Design & Developed By Ankit Katkar
    </div>
</div>
    
