.container-fluid{
    background-image: url(../../../assets/LogIn-Page-Background-image.jpg);
    height: 537px;
   padding: 0rem;
   margin: 0rem;
   overflow: hidden;
}
.card{
    width: 410px;
    margin-left: 450px;
    margin-top: 70px;
    border-radius: 30px;
}
.logo img{
text-align: center;
margin-left: 145px;
}
.logo p {
    text-align: center;
    font-size: 20px;
    font-family: Lora;
    font-weight: 700;
    margin-top: -18px;
}
.form-group{
    padding-bottom: 20px;
}
.form-group label{
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}
::placeholder{
    color: #8E8E8E;
    font-size: 12px;
    font-family: Roboto;
    font-weight: 400;
}
.card-body button{
    width: 94px;
    height: 37px;
    border-radius: 10px;
    background: #FF9F05;
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    border: 0px;
    margin-top: 20px;
    margin-left: 90px;
}
.LogInForm{
    padding: 20px 50px 0px 50px;
}
.secondOpction{
    font-size: 18px;
    font-family: Lora;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
@media only screen and (max-width: 768px) {
    .card{
        width: 410px;
        margin-left: 150px;
        margin-top: 70px;
        border-radius: 30px;
    }
  }
  @media only screen and (max-width: 320px) {
    .card{
        width: 280px;
        margin-left: 20px;
        margin-top: 40px;
        border-radius: 30px;
    }
    .logo img{
    margin-left: 80px;
    }
    .form-group label{
        font-size: 12px;
    }
    ::placeholder{
        font-size: 10px;
    }
    .card-body button{
        margin-left: 65px;
    }
    .LogInForm{
        padding: 10px 10px 0px 10px;
    }
  }