<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-mg-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="logo">
              <img src="../../../assets/Logo.jpg" alt="" />
              <p>Forgot Password</p>
            </div>
      
            <form class="LogInForm" [formGroup]="LoginForm">
      
              <div class="form-group">
                <label>Password:-</label>
                <input
                  type="Password"
                  class="form-control"
                  placeholder="Enter Your Password"
                  name="Password"
                  formControlName="Password"
                  [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }"
                />
                <div
                  *ngIf="submitted && f['Password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['Password'].errors['required']">
                    Password is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Current Password:-</label>
                <input
                  type="Password"
                  class="form-control"
                  placeholder="Enter Your Current Password"
                  name="CurrentPassword"
                  formControlName="CurrentPassword"
                  [ngClass]="{ 'is-invalid': submitted && f['CurrentPassword'].errors }"
                />
                <div
                  *ngIf="submitted && f['CurrentPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['CurrentPassword'].errors['required']">
                    Current Password is required
                  </div>
                </div>
              </div>

              <button type="submit" (click)="LogIn()">LogIn</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>