<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="heading">
        <h2>Terms and Conditions</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="infoText">
        <p>
            These Terms and Conditions ("Agreement") govern your use of the
            products and services provided by Burger's ("Company") when you engage
            with our business, including but not limited to ordering and consuming
            our burgers. By accessing or using our products and services, you
            agree to be bound by these Terms and Conditions. If you do not agree
            with any part of this Agreement, please refrain from using our
            products and services.
          </p>
        <p>1. Food Allergies and Dietary Restrictions:</p>
        <ol type="a">
          <li>
            Burger's strives to accommodate various dietary needs and allergies.
            However, we cannot guarantee that our products are completely free
            from allergens or other ingredients that may cause adverse
            reactions. It is the responsibility of the customer to inform us of
            any specific food allergies or dietary restrictions before placing
            an order.
          </li>
          <li>
            While we take precautions to prevent cross-contamination, we operate
            in a kitchen where allergens may be present. Therefore, we cannot
            guarantee that our products will be free from traces of allergens.
          </li>
        </ol>

        <p>2. Order Placement and Modifications:</p>
        <ol type="a">
          <li>
            Customers are responsible for providing accurate and complete
            information when placing an order, including contact details,
            delivery address, and any special instructions.
          </li>
          <li>
            Once an order is placed, modifications or cancellations may not be
            possible if the preparation process has already begun. Please
            contact us immediately if any changes are required.
          </li>
        </ol>

        <p>3. Delivery:</p>
        <ol type="a">
          <li>
            Burger's strives to provide timely and efficient delivery services.
            However, we cannot be held responsible for any delays or issues that
            occur during the delivery process, such as traffic conditions or
            unforeseen circumstances
          </li>
          <li>
            Delivery fees may apply, and the exact charges will be communicated
            at the time of placing the order.
          </li>
        </ol>

        <p>4. Pricing and Payment:</p>
        <ol type="a">
          <li>
            Prices for our products and services are subject to change without
            prior notice.
          </li>
          <li>
            Payment methods, including acceptable credit cards, debit cards, or
            other forms of payment, will be communicated during the ordering
            process.
          </li>
          <li>
            All payments must be made in the currency specified by the Company.
          </li>
        </ol>

        <p>5. Intellectual Property:</p>
        <ol type="a">
          <li>
            The content, logos, trademarks, and other intellectual property
            associated with Burger's are the property of the Company and are
            protected by applicable intellectual property laws. They may not be
            used or reproduced without prior written consent.
          </li>
        </ol>

        <p>6. Limitation of Liability:</p>
        <ol type="a">
          <li>
            Burger's shall not be liable for any direct, indirect, incidental,
            consequential, or punitive damages arising out of or relating to the
            use of our products and services.
          </li>
          <li>
            The Company's total liability, whether in contract, warranty, tort
            (including negligence), or any other legal theory, shall not exceed
            the amount paid by the customer for the specific product or service
            in question.
          </li>
        </ol>

        <p>7. Governing Law:</p>
        <ol type="a">
          <li>
            These Terms and Conditions shall be governed by and construed in
            accordance with the laws of the jurisdiction where Burger's
            operates.
          </li>
        </ol>

        <p>8. Modifications to Terms and Conditions:</p>
        <ol type="a">
          <li>
            The Company reserves the right to modify or update these Terms and
            Conditions at any time. Customers will be notified of any
            significant changes.
          </li>
        </ol>
        <p>
          Please review these Terms and Conditions carefully before using our
          products and services. If you have any questions or concerns, please
          contact us at [contact information]. Your continued use of our
          products and services constitutes acceptance of these Terms and
          Conditions.
        </p>
      </div>
    </div>
  </div>
</div>
