<div class="container">
    <div class="padding">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="heading-Text">
                    <h2>FAQ’s</h2>
                    <p>How Can We Help?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div ngbAccordion [closeOthers]="true"> 
                    <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>Do i need to register to place order</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>Is there a minimum order value</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>Do you charge for the delivery</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>How can i apply for your franchise</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>How to get your franchise</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>How to get your franchise</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>I have facing the issue for apply booking your franchise?</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>How do i contact customer care</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                
                      <div ngbAccordionItem class="accordion">
                        <h2 ngbAccordionHeader>
                          <button ngbAccordionButton>I did not get OTP on my mobile</button>
                        </h2>
                        <div ngbAccordionCollapse>
                          <div ngbAccordionBody>
                            <ng-template>Content for the first item</ng-template>
                          </div>
                        </div>
                      </div> 
                    </div>
                    
            </div>
        </div>
    </div>
</div>