<div class="container-fluid">
  <div class="backgroundImage">
    <img src="../../assets/Franchise background image.jpg" alt="Snow" />
    <div class="centered">FRANCHISE</div>
  </div>

  <div class="padding">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="headerText">
          <p>Franchise <span> With Us</span></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="infoText">
          <p>
            Burger’s offers remunerative opportunities of business for the
            interested entrepreneurs by offering franchiseesBurger’s Cafe across
            India. The business model is based on the principle of bringing in
            more profits for the franchise and providing comprehensive support
            in terms of Operations, Marketing, Training and Business Development
            & Inventory Control. Enterprising people who can own responsibility
            and ensure commitment towards the brand 'Burger’s' are welcome.
            <li class="marginLine">
              You should be a dynamic person with acute understanding of
              consumer behavior.
            </li>
            <li>
              You should be financially sound and willing to give quality time
              to the franchisee.
            </li>
            <li>Food industry background will have an added advantage.</li>
            <li>
              People with available real estate at prime locations will get
              preference.
            </li>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="image-1">
          <img src="../../assets/franchise with us image.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="row franchiForm">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div>
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label for="email" class="form-label">Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter Your Email Address"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <label for="text" class="form-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    id="state"
                    placeholder="Enter Your State"
                    name="state"
                  />
                </div>
                <div class="form-group">
                  <label for="text" class="form-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder="Enter Your City"
                    name="city"
                  />
                </div>
                <div class="form-group">
                  <label for="Phone Number" class="form-label"
                    >Phone Number</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="Phone Number"
                    placeholder="Enter Your Phone Number"
                    name="Phone Number"
                  />
                </div>
                <div class="form-group">
                  <label for="comment">Address</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    id="comment"
                    placeholder="Enter Your Address"
                    name="text"
                  ></textarea>
                </div>
              </form>
              <button>Submit</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="image-2">
          <img src="../../assets/Franchise image.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
