<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ngb-carousel class="imageSlider">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/two.jpg" alt="Random first slide" />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/three.jpg" alt="Random second slide" />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="../assets/four.jpg" alt="Random third slide" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="backgroundImage">
      <div class="menuList">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <span class="menuHeader">OUR MENU</span>
            <span class="menunextText" routerLink="/ourmenu">See More</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/ourmenu">
              <img src="../assets/Menu Deal Of The Day image.png" alt="">
              <p>Deal Of The <br> Day</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/burgers">
              <img src="../assets/Menu Burgers Image.jpg" alt="">
              <p>Burgers</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/premiumBurger">
              <img src="../assets/Menu Premium Burger Image.jpg" alt="">
              <p>Premium <br> Burger</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/fires">
              <img src="../assets/Menu Fries Image.jpg" alt="">
              <p>Fries</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/beverages">
              <img src="../assets/Menu Beverages Image.jpg" alt="">
              <p>Beverages</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-4">
            <div class="menu-item" routerLink="/Bestofcombo">
              <img src="../assets/Menu Best Of Combo Image.jpg" alt="">
              <p>Best Of <br> Combo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- thired row -->
    <div class="padding">
    <div class="offerImage">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="dealoftheday">
            <p class="specialOffer">Deal Of The Day</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="imageOne" src="../../assets/Deal Of The Day image one.jpg" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <img class="imageTwo" src="../../assets/Deal Of The Day image two.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- Fourth Row -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <p class="specialOffer">Today’s Special Offer</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card">
          <div class="row"> 
              <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <img class="img-wrapper" src="../assets/twisted burger image.jpg" alt="Card image">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="card-body">
                  <h4 class="card-title">TWISTED  BURGER VEG</h4>
                  <p class="card-text">It’s sweet yet spicy, spicy yet sweet. out Limited time</p>
                  <div class="card-footer-one">
                    <span class="card-amount"><fa-icon [icon]="rupees"></fa-icon>199</span>
                  <button>ADD +</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 col-12"> 
          <div class="card">
          <div class="row"> 
              <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <img class="img-wrapper" src="../assets/Special offer burger image two.jpg" alt="Card image">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="card-body">
                  <h4 class="card-title">VEG BURGER</h4>
                  <p class="card-text two">Our Signature whopper with 7 layer between the burns</p>
                  <div class="card-footer-two">
                    <span class="card-amount"><fa-icon [icon]="rupees"></fa-icon>199</span>
                  <button>ADD +</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <div class="card">
          <div class="row no-gutters"> 
              <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                <img class="img-wrapper" src="../assets/Menu Fries Image.jpg" alt="Card image">
              </div>
              <div class="col-lg-7 col-md-7 col-sm-7 col-7">
                <div class="card-body">
                  <h4 class="card-title">FRIES</h4>
                  <p class="card-text three">The perfect crispy partner</p>
                  <div class="card-footer-three">
                    <span class="card-amount"><fa-icon [icon]="rupees"></fa-icon>89</span>
                  <button>ADD +</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <button class="ourMenu" routerLink="/ourmenu">EXPLORE OUR MENU</button>
        </div>
      </div>
    </div>
  </div>